<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yznu.abc321.dao.GenericDao">

    <select id="getTables" resultType="string">
        SELECT TABLE_NAME FROM information_schema.TABLES
        WHERE TABLE_SCHEMA = #{dbName} AND TABLE_TYPE = 'BASE TABLE'
    </select>

    <select id="getColumns" resultType="string">
        SELECT COLUMN_NAME FROM information_schema.COLUMNS
        WHERE TABLE_SCHEMA = #{dbName} AND TABLE_NAME = #{tableName}
        ORDER BY ORDINAL_POSITION
    </select>

    <select id="queryByKey" resultType="map">
        SELECT * FROM ${tableName} WHERE ${keyColumn} = #{keyValue}
    </select>

    <!-- 多条件 AND 动态查询 -->
    <select id="dynamicQuery" resultType="map">
        SELECT * FROM ${tableName}
        <where>
            <foreach collection="conditions" item="c" separator="AND">
                <if test="c.value != null and c.value != ''">
                    <choose>
                        <when test="c.fuzzy == true">
                            ${c.column} LIKE CONCAT('%', #{c.value}, '%')
                        </when>
                        <otherwise>
                            ${c.column} = #{c.value}
                        </otherwise>
                    </choose>
                </if>
            </foreach>
        </where>
    </select>

    <!-- 单列多值 OR 模糊查询 -->
    <select id="batchFuzzyQuery" resultType="map">
        SELECT * FROM ${tableName}
        WHERE
        <foreach collection="values" item="v" separator="OR" open="(" close=")">
            ${column} LIKE CONCAT('%', #{v}, '%')
        </foreach>
    </select>

    <select id="getOutgoingFks" resultType="cn.yznu.abc321.entity.FkInfo">
        SELECT COLUMN_NAME AS columnName,
               REFERENCED_TABLE_NAME AS referencedTable,
               REFERENCED_COLUMN_NAME AS referencedColumn
        FROM information_schema.KEY_COLUMN_USAGE
        WHERE TABLE_SCHEMA = #{dbName}
          AND TABLE_NAME = #{tableName}
          AND REFERENCED_TABLE_NAME IS NOT NULL
    </select>

    <select id="getIncomingFks" resultType="cn.yznu.abc321.entity.FkInfo">
        SELECT COLUMN_NAME AS columnName,
               TABLE_NAME AS referencedTable,
               REFERENCED_COLUMN_NAME AS referencedColumn
        FROM information_schema.KEY_COLUMN_USAGE
        WHERE TABLE_SCHEMA = #{dbName}
          AND REFERENCED_TABLE_NAME = #{tableName}
    </select>

</mapper>
